# This is an example of .env file 
# needed for environment variables
#
# Use this template to create Your own .env
# file with data required for the app to work.

MYSQL_ROOT_PASSWORD=yourpassword # this is the database password for root user
MYSQL_DATABASE=yourdatabase # this is the database name 
SECRET_KEY=yoursecretkey # this is the secret key for the login / password hashes to work, generate some long, random string
MAIL_SERVER=smtp.example.com
MAIL_USE_SSL=True
MAIL_PORT=465
MAIL_USERNAME=app_mail@email.address
MAIL_PASSWORD=password