# This is an example of config.ini file 
# needed for credentials and environment variables
#
# Use this template to create Your own config.ini 
# file with data required for the flask app to work,
# like keys with database credentials, environment
# variables and so on.

[flask]
env = development
app = app.py