{% extends "base.html" %}

{% block content %}

<div class="center-container">
  <h2>Add contract</h2>
</div>

<form id="contractForm" method="post" onsubmit="return validateForm();">
  <div class="form-row">
    <div class="form-item">
      <label for="price_black">Price Black:<span class="required">*</span></label>
      <input type="number" id="price_black" name="price_black" step='0.01' required>
    </div>
    <div class="form-item">
      <label for="price_color">Price Color:<span class="required">*</span></label>
      <input type="number" id="price_color" name="price_color" step='0.01' required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-item">
      <label for="start_date">Start Date:<span class="required">*</span></label>
      <input type="date" id="start_date" name="start_date" required>
    </div>
    <div class="form-item">
      <label for="end_date">End Date:<span class="required">*</span></label>
      <input type="date" id="end_date" name="end_date" required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-item">
      <label for="tax_id">Client:<span class="required">*</span></label>
      <select id="tax_id" name="tax_id">
        {% for client in clients %}
        <option value="{{ client.tax_id }}">{{ client.company }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-item">
      <label for="printer_id">Printer:<span class="required">*</span></label>
      <select id="printer_id" name="printer_id">
        {% for printer in printers %}
        <option value="{{ printer.id }}">{{ printer.serial_number }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="button-group">
    <input type="submit" value="Submit">
    <button type="button" onclick="window.location.href='/index'">Back</button>
  </div>
  <div>
    <span class="required">*</span> - required field.
  </div>
</form>

<script>
  function validateForm() {
    var priceBlack = document.getElementById('price_black').value;
    var priceColor = document.getElementById('price_color').value;
    var startDate = document.getElementById('start_date').value;
    var endDate = document.getElementById('end_date').value;

    if (priceBlack <= 0 || priceColor <= 0) {
      alert('Price must be greater than 0');
      return false;
    }

    if (new Date(startDate) >= new Date(endDate)) {
      alert('End date must be after start date');
      return false;
    }

    return true;
  }
</script>

{% endblock %}