{% extends "base.html" %}

{% block content %}
<h2>Add Printer</h2>

<form method="POST">
  <label for="printer_serial_number">Printer Serial Number:</label><br>
  <input type="text" id="printer_serial_number" name="printer_serial_number"><br>
  <label for="counter_black">Counter BW:</label><br>
  <input type="number" id="counter_black" name="counter_black"><br>
  <label for="counter_color">Counter Color:</label><br>
  <input type="number" id="counter_color" name="counter_color"><br>
  <input type="submit" value="Submit">
</form>

<a href="/"><button>Back</button></a>
{% endblock %}