{% extends "base.html" %}

{% block content %}

<div class="center-container">
    <h2>All Clients</h2>
</div>

<div class="center-container">
  <form action="{{ url_for('clients') }}" method="get">
    <div class="form-item">
      <input type="text" name="filter" placeholder="Filter: name or tax id...">
    </div>
    <div class="button-group">
      <button type="submit">Filter</button>
    </div>
  </form>
</div>

<form>
    <table id="clientsTable" class="styled-table">
            <tr>
                <th scope="col">Tax ID</th>
                <th scope="col">Company</th>
                <th scope="col">City</th>
                <th scope="col">Postal Code</th>
                <th scope="col">Address</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
            </tr>
            {% for client in clients %}
            <tr>
                <td><a href="{{ url_for('edit_client', tax_id=client.tax_id) }}">{{ client.tax_id }}</a></td>
                <td>{{ client.company }}</td>
                <td>{{ client.city }}</td>
                <td>{{ client.postal_code }}</td>
                <td>{{ client.address }}</td>
                <td>{{ client.phone }}</td>
                <td>{{ client.email }}</td>
                <td>
                    <a href="{{ url_for('client_printers', tax_id=client.tax_id) }}">View Printers</a>
                </td>
            </tr>
            {% endfor %}
    </table>
</form>


<div class="pagination">
  <a href="{{ url_for('clients', page=1) }}">First..</a>&nbsp;
  {% if page > 1 %}
  <a href="{{ url_for('clients', page=page-1) }}">..Previous..</a>&nbsp;
  {% endif %}
  <span>..Page {{ page }}..</span>&nbsp;
  <a href="{{ url_for('clients', page=page+1) }}">..Next</a>
</div>

<script>
    function filterTable() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("filterInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("clientsTable");
      tr = table.getElementsByTagName("tr");
    
      for (i = 0; i < tr.length; i++) {
        tdTaxId = tr[i].getElementsByTagName("td")[0];
        tdCompany = tr[i].getElementsByTagName("td")[1];
        if (tdTaxId || tdCompany) {
          txtValueTaxId = tdTaxId.textContent || tdTaxId.innerText;
          txtValueCompany = tdCompany.textContent || tdCompany.innerText;
          if (txtValueTaxId.toUpperCase().indexOf(filter) > -1 || txtValueCompany.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }       
      }
    }
    </script>

{% endblock %}