{% extends "base.html" %}

{% block content %}

<!--
{% if current_user.is_authenticated and current_user.first_login_change_pass %}
  <p style="color: red; margin: 20px; padding: 10px; border: 2px solid red; border-radius: 5px; display: inline-block; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); font-size: 18px;">
    Account recently created, using temporarily assigned password. Change Your password in profile.
  </p>
{% endif %}>
-->

<div style="display: flex;">
    <div class="button-container">
        <a href="{{ url_for('my_requests') }}" class="tlbtn">Requests Assigned To Me</a>
    </div>

    <div class="button-container">
        <a href="{{ url_for('knowledge_base') }}" class="tlbtn">Knowledge Base</a>
    </div>
</div>
{% endblock %}