{% extends "base.html" %}

{% block content %}

<div class="center-container">
  <h2>My Service Requests</h2>
</div>

{% if service_requests %}
<div class="form-row">
  <table class="styled-table">
    <tr>
      <th>Service Request</th>
      <th>Company</th>
      <th>Printer Serial Number</th>
      <th>Printer Model</th>
      <th>Request Date</th>
      <th>Done?</th>
    </tr>
    {% for request in service_requests %}
      <tr>
        <td>{{ request.service_request }}</td>
        <td>{{ request.company }}</td>
        <td>{{ request.serial_number }}</td>
        <td>{{ request.model }}</td>
        <td>{{ request.request_date }}</td>
        <td>
          <form method="POST" action="{{ url_for('mark_done') }}" onsubmit="return confirm('Are you sure you want to mark this service request as done?');">
            <input type="hidden" name="request_id" value="{{ request_id }}">
            <input type="image" src="{{ url_for('static', filename='img/ok_ico.png') }}" alt="Done" style="display: block; margin: auto;">
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
</div>
{% else %}
<div class="form-row">
  <p class="margin-left">No service requests assigned to you.</p>
</div>
{% endif %}

<div class="button-group">
  <button type="button" onclick="window.location.href='/index'">Back</button>
</div>

{% endblock %}