{% extends "base.html" %}

{% block content %}
<h2>New Service Request for Printer: {{ printer.serial_number }} assigned to {{ clients.company }}</h2>

<table>
  <tr>
    <td>Serial Number: {{ printer.serial_number }}</td>
    <td>Model: {{ printer.model }}</td>
  </tr>
  <tr>
    <td>Black Counter: {{ printer.black_counter }}</td>
    <td>Color Counter: {{ printer.color_counter }}</td>
  </tr>
  <tr>
    <td colspan="2">Client Company: {{ clients.company }}</td>
  </tr>
</table>

<form action="{{ url_for('submit_service_request') }}" method="post">
  <div class="form-item">
    <label for="service_request">Problem:<span class="required">*</span></label>
    <textarea id="service_request" name="service_request" required></textarea>
  </div>
  <input type="hidden" name="printer_id" value="{{ printer.id }}">
  <input type="hidden" name="tax_id" value="{{ printer.tax_id }}">
  <input type="hidden" name="company" value="{{ clients.company }}">
  <div class="button-group">
    <button type="submit">Submit</button>
  </div>
</form>
<div class="button-group">
  <button type="button" class="margin-top:20%" onclick="location.href='{{ url_for('client_printers', tax_id=printer.tax_id) }}';">Back to Client Printers</button>
</div>
{% endblock %}