{% extends "base.html" %}

{% block content %}

<div class="center-container">
  <h2>All Printers</h2>
</div>

<div class="center-container">
  <form method="GET" action="/printers">
    <input type="text" name="filter" placeholder="Filter: serial numbers..." value="{{ request.args.get('filter', '') }}">
    <input type="submit" value="Filter">
  </form>
</div>

<form method="POST" action="/edit_printer">
  <table id="printersTable" class="styled-table">
    <tr>
      <th>ID</th>
      <th>Serial Number</th>
      <th>Model</th>
      <th>Black Counter</th>
      <th>Color Counter</th>
      <th>Client</th>
    </tr>
    {% for printer in printers %}
    <tr>
      <td>{{ printer.id }}</td>
      <td><a href="{{ url_for('edit_printer', printer_id=printer.id) }}">{{ printer.serial_number }}</a></td>
      <td>{{ printer.model }}</td>
      <td>{{ printer.black_counter }}</td>
      <td>{{ printer.color_counter }}</td>
      <td>{{ printer.company if printer.company else 'Not assigned to client' }}</td>
    </tr>
    {% endfor %}
  </table>

  <div class="button-group">
    <a href="/index"><button type="button">Back</button></a>
  </div>
  <div class="pagination">
    <a href="{{ url_for('printers', page=1) }}">First..</a>&nbsp;
    {% if page > 1 %}
    <a href="{{ url_for('printers', page=page-1) }}">..Previous..</a>&nbsp;
    {% endif %}
    <span>..Page {{ page }}..</span>&nbsp;
    <a href="{{ url_for('printers', page=page+1) }}">..Next</a>
  </div>
</form>

{% endblock %}