{% extends "base.html" %}

{% block content %}

<div class="center-container">
  <h2>Register User</h2>
</div>

<form action="/register" method="post">
  <div class="form-row">
    <div class="form-item">
      <label for="login">Login:<span class="required">*</span></label>
      <input type="text" id="login" name="login" required>
    </div>
    <div class="form-item">
      <label for="password">Password:<span class="required">*</span></label>
      <input type="password" id="password" name="password" required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-item">
      <label for="email">Email:<span class="required">*</span></label>
      <input type="email" id="email" name="email" required>
    </div>
    <div class="form-item">
      <label for="admin">Is user an admin?:</label>
      <input type="checkbox" id="admin" name="admin">
    </div>
  </div>
  <div class="button-group">
    <input type="submit" value="Submit">
    <button type="button" onclick="window.location.href='/index'">Discard</button>
  </div>
  <div>
    <span class="required">*</span> - required field.
  </div>
</form>

{% endblock %}