{% extends "base.html" %}

{% block content %}
{% set page = page if page is defined else 1 %}
{% set per_page = per_page if per_page is defined else 10 %}
{% set total_requests = total_requests if total_requests is defined else 0 %}

<style>
  .styled-table th:nth-child(6), .styled-table th:nth-child(7) .styled-table th:nth-child(8) {
    width: 200px;
    text-align: center;
    vertical-align: middle;
  }
  .button-group {
    background-color: #E0EFFF;
    color: #656263;
    border: 1px solid #80bdff;
    border-radius: 5px;
    padding: 10px;
  }
  .button-group:hover {
    text-decoration: none;
    color: #545454;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
  }
  .centered-content {
  text-align: center;
  vertical-align: middle;
  }
</style>

<div class="center-container">
  <h2>Active Service Requests</h2>
</div>

<div class="center-container">
  <a href="{{ url_for('archived_requests') }}">View Archived Requests</a>
</div>

{% if service_requests %}
  <table class="styled-table">
      <tr>
        <th>Service Request</th>
        <th>Company</th>
        <th>Printer Serial Number</th>
        <th>Printer Model</th>
        <th>Date</th>
        <th>Assigned to:</th>
        <th>Done?</th>
        <th>Delete?</th>
      </tr>
      {% for request_id, request in service_requests.items() %}
      <tr>
        <td>{{ request.service_request }}</td>
        <td>{{ request.company }}</td>
        <td>{{ request.serial_number }}</td>
        <td>{{ request.model }}</td>
        <td>{{ request.request_date }}</td>
        <td>
          <form action="{{ url_for('assign_user') }}" method="post">
            <select name="user_id">
              {% for user in users.values() %}
                <option value="{{ user.id }}" {% if user.id == request.assigned_to %}selected{% endif %}>{{ user.login }}</option>
              {% endfor %}
            </select>
            <input type="hidden" name="request_id" value="{{ request_id }}">
            <button type="submit" class="button-group">Assign</button>
          </form>
        </td>
        <td class="centered-content">
          <form method="POST" action="{{ url_for('mark_done') }}" onsubmit="return confirm('Are you sure you want to mark this service request as done?');">
            <input type="hidden" name="request_id" value="{{ request_id }}">
            <input type="image" src="{{ url_for('static', filename='img/ok_ico.png') }}" alt="Done" style="display: block; margin: auto;">
          </form>
        <td>
          <form action="{{ url_for('delete_request', id=request_id) }}" method="post" onsubmit="return confirm('Are you sure you want to delete this service request?');">
            <input type="image" src="{{ url_for('static', filename='img/del_ico.png') }}" alt="Delete" style="display: block; margin: auto;">
          </form>
        </td>
      </tr>
  {% endfor %}
  </table>
  <div class="pagination">
    <a href="{{ url_for('service_requests', page=1) }}">First..</a>&nbsp;
    {% if page > 1 %}
    <a href="{{ url_for('service_requests', page=page-1) }}">..Previous..</a>&nbsp;
    {% endif %}
    <span>..Page {{ page }}..</span>&nbsp;
    {% if page * per_page < total_requests %}
    <a href="{{ url_for('service_requests', page=page+1) }}">..Next</a>
    {% endif %}
  </div>
{% else %}
  <p class="margin-left">No active service requests.</p>
{% endif %}

{% endblock %}