{% extends "base.html" %}

{% block content %}

<a href="{{ url_for('new_service_request') }}" class="tlbtn">New Service Request</a>


<div class="center-container">
  <h2>Active Service Requests</h2>
</div>

{% if service_requests %}
  <table class="styled-table">
      <tr>
        <th>Service Request</th>
        <th>Company</th>
        <th>Printer Serial Number</th>
        <th>Printer Model</th>
        <th>Date</th>
        <th>Assigned to:</th>
      </tr>
      {% for request in service_requests %}
        <tr>
          <td>{{ request.service_request }}</td>
          <td>{{ request.company }}</td>
          <td>{{ request.serial_number }}</td>
          <td>{{ request.model }}</td>
          <td>{{ request.request_date }}</td>
          <td>{{ 'Active' if request.active else 'Done' }}</td>
        </tr>
      {% endfor %}
  </table>
{% else %}
  <p>No active service requests.</p>
{% endif %}

{% endblock %}