{% extends "base.html" %}

{% block content %}

<div class="center-container">
    <h2>Registered Users</h2>
</div>

<table class="styled-table">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username - Login</th>
            <th scope="col">Email</th>
        </tr>
        {% for user in users %}
        <tr>
            <th scope="row">{{ user.id }}</th>
            <td>
                <a href="{{ url_for('edit_user', user_id=user.id) }}">{{ user.login }}</a>
                {% if user.admin %}
                    <img class="admin-icon" src="{{ url_for('static', filename='img/adminico2.png') }}" alt="admin_icon">
                {% endif %}
            </td>
            <td>{{ user.email }}</td>
        </tr>
        {% endfor %}
</table>
<div class="button-group">
    <a href="/index"><button>Back</button></a>
</div>
{% endblock %}